/**
 * CSS used to position and size elements for desktop screen sizes.
 */

body{
    display: flex;
    overflow: hidden;
}

/*
 * CLASS LEVEL DEFINITIONS
 */
.sideMenu{
    width: 33%;
    height: 100%;
}
.topBarButton{
    width: 20%;
}

/*
 * ELEMENT LEVEL DEFINITIONS
 */
#info{
    z-index: 1;
    height: calc(34.25% + 0.25em);
    width: 27%;
    bottom: 0;
    left: 0;
}
#info_travel_button{
    height: 6.25vh;
}
#map{
    width: 67%;
    height: 93.75%;
    margin-top: 6.25%;
    
}
#topBar{
    position: absolute;
    height: 6.25%;
    width: 67%;
}
#systemJumpPic{
    /*bottom: calc(34.25% + 0.25em);*/
    /*margin-bottom: 2.5%;*/
    bottom: calc(50% - 63px);
    margin-left: 2.5%;
}