/**
 * CSS used to position and size elements for desktop screen sizes.
 */

body{
    display: flex;
    overflow: hidden;
}

/*
 * CLASS LEVEL DEFINITIONS
 */
.sideMenu{
    width: 33%;
    height: 100%;
}
.topBarButton{
    width: 20%;
}

/*
 * ELEMENT LEVEL DEFINITIONS
 */
#info{
    z-index: 1;
    height: calc(22% + 0.25em);
    width: 27%;
    bottom: 0;
    left: 0;
}
#map{
    width: 67%;
    height: 100%;
}
#topBar{
    position: absolute;
    height: 6.25%;
    width: 67%;
}