/**
 * CSS which is universal for the entire application.
 */
:root{
    width: 100%;
    height: 100%;

    /* Color palette */
    --color-main: #FFFFFF;
    --color-main-transparent: rgba(255, 255, 255, 0.33);
    --color-on-main: #6B6D86;
    --color-on-main-transparent: #000000;
    --color-secondary: yellow; /* TODO: change this */
    --color-on-secondary: red; /* TODO: change this */
    --color-hover: orange; /* TODO: change this */
    --color-error: #CF6679;
    --color-border: #D1D1D1;
    --color-map-background: #6B6D86;

    /* Fonts */
    --font-sideMenu-title: 'Roboto', sans-serif;
    --font-size-sideMenu-title: 3.0rem;
    --font-star-system-label: 'Roboto', sans-serif;
    --font-size-star-system-label: 1.125rem;
    --font-itinerary-text: 'Roboto', sans-serif;
    --font-size-itinerary-text: 1.5rem;
    --font-itinerary-destinations: 'Roboto', sans-serif;
    --font-size-itinerary-destinations: 1.125rem;
    --font-topbar-buttons: 'Roboto', sans-serif;
    --font-size-topbar-buttons: 1.5rem;
    --font-info-title: 'Roboto', sans-serif;
    --font-size-info-title: 1.5rem;
    --font-info-text: 'Roboto', sans-serif;
    --font-size-info-text: 1.125rem;
}
body{
    width: 100%;
    height: 100%;
    margin: 0; /* remove default padding, so that 100% of the window is 100% of the window */
}

html{
    background: var(--color-map-background);
}

/* Colour rows of the table slightly differently, to improve visibility */
tr:nth-child(odd){
    background-color: var(--color-main-transparent);
}

p{
    margin-bottom: 0;
}
ul{
    margin-top: 0;
}

/*
 * CLASS LEVEL DEFINITIONS
 */

.sideMenu{
    background: var(--color-main-transparent);
    border-color: var(--color-border);
    border-style: solid;
    border-width: medium;
    font-family: var(--font-itinerary-text);
    font-size: var(--font-size-itinerary-text);
    /* Places border on inside */
    /* https://stackoverflow.com/questions/9601357/placing-border-inside-of-div-and-not-on-its-edge */
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.centered-horizontal{
    margin-right: 5%;
    margin-left: 5%;
}

.centered-vertical{
    margin-top: auto;
    margin-bottom: auto;
}

.hiddenScroll{
    overflow: scroll;
    /* https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
    /* Hide scrollbar for IE, Edge, and Firefox */
    -ms-overflow-style: none;
    scrollbar-width: none; /* This line works, despite your IDE possibly giving warnings */
}

.hiddenScroll::-webkit-scrollbar{
    /* https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
    /* Hide scrollbar for Chrome, Safari, and Opera */
    display: none;
}

.title{
    font-family: var(--font-sideMenu-title);
    font-size: var(--font-size-sideMenu-title);
    font-weight: bold;
    background-color: var(--color-main);
    color: var(--color-on-main);
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.itinerary_destination{
    position: relative;
    font-family: var(--font-itinerary-destinations);
    font-size: var(--font-size-itinerary-destinations);
    margin-top: var(--font-size-itinerary-destinations);
    margin-bottom: var(--font-size-itinerary-destinations);
}

.addButton{
    height: 75%;
    width: 30%;
    background-color: var(--color-main);
    color: var(--color-on-main);
    position: absolute;
    bottom: 0;
    right: 0;
    font-family: var(--font-topbar-buttons);
    font-size: var(--font-size-topbar-buttons);
    font-weight: bold;
}

.topBarButton{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    filter: drop-shadow(0em 0.25em 0.25em #000000);
    background-color: var(--color-main);
    color: var(--color-on-main);
    font-family: var(--font-topbar-buttons);
    font-size: var(--font-size-topbar-buttons);
    font-weight: bold;
}
.topBarButton:hover{
    background-color: var(--color-hover);
}

/*
 * ELEMENT LEVEL DEFINITIONS
 */
#departure_body{
    height: 90%;
}

#info{
    display: none;
    background: var(--color-main-transparent);
    position: absolute;
    border-color: var(--color-border);
    border-style: solid;
    border-width: medium;
    /* Places border on inside */
    /* https://stackoverflow.com/questions/9601357/placing-border-inside-of-div-and-not-on-its-edge */
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

}
#info_title{
    font-family: var(--font-info-title);
    font-size: var(--font-size-info-title);
    width: 100%;
    height: 27.4%;
}
#info_table{
    color: var(--color-on-main-transparent);
    font-family: var(--font-info-text);
    font-size: var(--font-size-info-text);
    width: 100%;
    border-spacing: 0;
}

#itinerary{
    display: none;
    position: relative;
}
#itinerary_body{
    max-height: 50%;
    /*max-height: calc(79.5% - 20*var(--font-size-itinerary-text));*/
}

#itinerary_body_editable{
    position: relative;
    border-style: solid;
    border-color: var(--color-main);
    border-width: thin;
    padding: 2.5%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

#itinerary_body_editable_destinations{
    max-height: calc(100% - 3*var(--font-size-itinerary-text));
}

#itinerary_content{
    height: 79.5%;
    width: 100%;
}

#itinerary_footer{
    height: 10.5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

#availDest{
    margin-top: var(--font-size-itinerary-text);
    margin-bottom: var(--font-size-itinerary-text);
}

#itinClearBtn{
    height: 50%;
    font-family: var(--font-topbar-buttons);
    font-size: var(--font-size-topbar-buttons);
    font-weight: bold;
    background-color: var(--color-main);
    color: var(--color-on-main);
}

#xBtn{
    position: absolute;
    top: 0;
    right: 0;
    width: 7.5%;
    color: var(--color-on-main);
    background-color: var(--color-main);
}
/* 1:1 aspect ratio, see: https://mademyday.de/height-equals-width-with-pure-css/ */
#xBtn:after{
    padding-top: 100%;
}

#topBar{
    display: flex;
    background: transparent;
    z-index: 2;
}

