/**
 * CSS which is universal for the entire application.
 */
:root{
    width: 100%;
    height: 100%;

    /* Color palette */
    --color-main: #6B6D86;
    --color-main-transparent: #7a7b92E6;
    --color-on-main: #FFFFFF;
    --color-on-main-transparent: #FFFFFF;
    --color-secondary: #FFFFFF;
    --color-on-secondary: #6B6D86;
    --color-error: #CF6679;
    --color-border: #D1D1D1;
    --color-map-background: #6B6D86;

    /* Fonts */
    --font-sideMenu-title: 'Roboto', sans-serif;
    --font-size-sideMenu-title: 3.0rem;
    --font-star-system-label: 'Roboto', sans-serif;
    --font-size-star-system-label: 1.125rem;
    --font-itinerary-text: 'Roboto', sans-serif;
    --font-size-itinerary-text: 1.5rem;
    --font-itinerary-destinations: 'Roboto', sans-serif;
    --font-size-itinerary-destinations: 1.125rem;
    --font-topbar-buttons: 'Roboto', sans-serif;
    --font-size-topbar-buttons: 1.5rem;
    --font-info-title: 'Roboto', sans-serif;
    --font-size-info-title: 1.5rem;
    --font-info-text: 'Roboto', sans-serif;
    --font-size-info-text: 1.125rem;
}
body{
    width: 100%;
    height: 100%;
    margin: 0; /* remove default padding, so that 100% of the window is 100% of the window */
}

html{
    background: var(--color-map-background);
}

p{
    margin-bottom: 0;
}

ul{
    margin-top: 0;
}

h1{
    margin: 0;
}

h3{
    margin: 0;
}

button{
    background-color: var(--color-secondary);
    color: var(--color-on-secondary);
    font-family: var(--font-topbar-buttons);
    font-size: var(--font-size-topbar-buttons);
    font-weight: bold;
}

button:hover{
    text-decoration: underline;
    outline: medium solid var(--color-on-secondary);
}

/*
 * CLASS LEVEL DEFINITIONS
 */

/* Colour rows of the table slightly differently, to improve visibility */
.infoTable:nth-child(odd){
    background-color: #0000000D;
}

.sideMenu{
    background: var(--color-main-transparent);
    border-color: var(--color-border);
    border-style: solid;
    border-width: medium;
    font-family: var(--font-itinerary-text);
    font-size: var(--font-size-itinerary-text);
    /* Places border on inside */
    /* https://stackoverflow.com/questions/9601357/placing-border-inside-of-div-and-not-on-its-edge */
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.centered-horizontal{
    margin-right: 5%;
    margin-left: 5%;
}

.centered-vertical{
    margin-top: auto;
    margin-bottom: auto;
}

.hiddenScroll{
    overflow: scroll;
    /* https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
    /* Hide scrollbar for IE, Edge, and Firefox */
    -ms-overflow-style: none;
    scrollbar-width: none; /* This line works, despite your IDE possibly giving warnings */
}

.hiddenScroll::-webkit-scrollbar{
    /* https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
    /* Hide scrollbar for Chrome, Safari, and Opera */
    display: none;
}

.title{
    font-family: var(--font-sideMenu-title);
    font-size: var(--font-size-sideMenu-title);
    font-weight: bold;
    background-color: var(--color-main);
    color: var(--color-on-main);
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0em 0.25em 0.25em #000000);
    margin-bottom: 0.5em;
}

.itinerary_destination{
    position: relative;
    font-family: var(--font-itinerary-destinations);
    font-size: var(--font-size-itinerary-destinations);
    margin-top: var(--font-size-itinerary-destinations);
    margin-bottom: var(--font-size-itinerary-destinations);
}

.addButton{
    height: 75%;
    width: 30%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.topBarButton{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    padding: 0;
    height: 100%;
    filter: drop-shadow(0em 0.25em 0.25em #000000);
    margin: 0 0.25em 0 0;
}


/*
 * ELEMENT LEVEL DEFINITIONS
 */

#background{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}

#departure_body{
    height: 90%;
    color: var(--color-on-main-transparent);
}

#info{
    display: none;
    background: var(--color-main-transparent);
    position: absolute;
    border-color: var(--color-border);
    border-style: solid;
    border-width: medium;
    /* Places border on inside */
    /* https://stackoverflow.com/questions/9601357/placing-border-inside-of-div-and-not-on-its-edge */
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

}
#info_title{
    font-family: var(--font-info-title);
    font-size: var(--font-size-info-title);
    width: 100%;
    height: 27.4%;
    background-color: var(--color-main);
}
#info_table{
    color: var(--color-on-main-transparent);
    font-family: var(--font-info-text);
    font-size: var(--font-size-info-text);
    width: 100%;
    border-spacing: 0;
}
#info_travel_button{
    width: 95%;
    margin: 1.5vh 2.5%;
}

#itinerary{
    display: none;
    position: relative;
    padding-bottom: 1%;
}
#itinerary_body{
    max-height: 50%;
    color: var(--color-on-main-transparent);
}

#itinerary_body_editable{
    color: var(--color-on-main-transparent);
    position: relative;
    border-style: solid;
    border-color: var(--color-secondary);
    border-width: thin;
    padding: 2.5%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

#itinerary_body_editable_destinations{
    max-height: calc(100% - 6*var(--font-size-itinerary-text));
}

#itinerary_content{
    height: 77.5%;
    width: 100%;
}

#lastPlanetName{
    margin-right: 6.5%;
}

#itinerary_footer{
    height: 12.5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    color: var(--color-on-main-transparent);
}

#availDest{
    margin-top: var(--font-size-itinerary-text);
    margin-bottom: var(--font-size-itinerary-text);
}

#itinClearBtn{
    height: 75%;
}

#xBtn{
    position: absolute;
    top: 3px;
    right: 3px;
    width: 7.5%;
    color: var(--color-on-secondary);
    background-color: var(--color-secondary);
}

#xBtn:hover{
    border: medium solid var(--color-on-secondary);
    top: 0;
    right: 0;
}

#topBar{
    display: flex;
    background: transparent;
    z-index: 2;
}

#langPic{
    height: 75%;
}