/**
 * CSS used to position and size elements for mobile screen sizes.
 */

/*
 * CLASS LEVEL DEFINITIONS
 */
.sideMenu{
    width: 100%;
    height: 100%;
}
.topBarButton{
    width: 33.3%;
}

/*
 * ELEMENT LEVEL DEFINITIONS
 */

#systemJumpPic{
    top: calc(8.75% + 29.5% - 63px);
    left: 63px;
    margin-left: 2.5%;
}
#info{
    width: 100%;
}
#info_travel_button{
    height: 8.75%;
}
#topBar{
    position: fixed;
    height: 8.75%;
    width: 100%;
}

#langPic{
    height: 50%;
}