/**
 * CSS used to position and size elements for mobile screen sizes.
 */

:root{
    background: var(--error-color);
}

#info{
    background: green;
    position: absolute;
    z-index: 1;
    height: 25%;
    width: 100%;
    bottom: 0;
}

#itinerary{
    background: yellowgreen;
    width: 100%;
    height: 100%;
}

#map{
    background: blue;
    width: 100%;
    height: 100%;
}

#topBar{
    position: fixed;
    height: 8.75%;
    width: 100%;
}