/**
 * CSS used to position and size elements for mobile screen sizes.
 */

/*
 * CLASS LEVEL DEFINITIONS
 */
.sideMenu{
    width: 100%;
    height: 100%;
}
.sideMenu_withInfo{
    /* Make space for the info panel */
    /* Note that margin-top is based on the parent container's WIDTH, thus the following code: */
    position: relative;
    top: 33%;
}
.topBarButton{
    width: 33.3%;
}

/*
 * ELEMENT LEVEL DEFINITIONS
 */
#info{
    height: 33%;
    width: 100%;
    bottom: 10%;
}
#map{
    width: 100%;
    height: 57%;
}
#topBar{
    position: fixed;
    height: 8.75%;
    width: 100%;
}